.page-footer {
    width: 100%;
}

.page-footer .upper {
    display: flex;
    width: 100%;
    padding: 25px 25px 35px;
    background: rgba(0, 0, 0, 0.8)
}

.page-footer .upper .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.page-footer .upper .left .brand-content {
    display: flex;
}

.page-footer .upper .left .brand-content img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: inline-block;
}

.page-footer .upper .left .welcome-p {
    text-align: justify;
    font-family: var(--input);
    color: var(--text);
    padding: 0 40px;
}

.page-footer .upper .left .brand {
    transform: translateX(-20px);
}

.page-footer .upper .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-footer .upper .right .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--input);
    gap: 20px;
    width: 200px;
}

.page-footer .upper .right .contact-details p {
    font-family: inherit;
    color: white;
    width: 200px;
    position: relative;
}

.page-footer .upper .right .contact-details p:first-child::before {
    content: '\f3c5';
    font-family: 'FontAwesome';
    position: absolute;
    top: 5px;
    left: -30px;
}

.page-footer .upper .right .contact-details p:last-child::before {
    content: '\f095';
    font-family: 'FontAwesome';
    position: absolute;
    top: 5px;
    left: -30px;
}

.page-footer .lower {
    background-color: var(--last);
    padding: 15px;
    color: var(--text);
    font-family: var(--input);
    font-size: 13px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}