
.job-card {
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 900px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .job-title {
    font-size: 23px;
    font-family: var(--caption) ;
    margin: 0;
    color: white;
    
  }
  
  .job-description {
    font-family: var(--input);
    margin-top: 8px;
    
    color: white;
    text-align: justify;
    font-size: 15px;
  }
  .job-card-line {
    border-style: solid;
    border-color: var(--secondary);
    width: 870px;
    margin:0 auto;
    margin-top: 10px;
  }
  .apply-now-button {
    background-color: var(--secondary);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    height: 30px;
    width: 120px;
  }
  
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .apply-now-button:hover {
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  .jobmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 46, 46, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    animation-name: modalFadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  
  .jobmodal {
    background-color: #141414b0;
    padding: 16px;
    border-radius: 8px;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 30px;
    justify-content: center;
  }
  .modal-line { 
    border-style: solid;
    border-color: var(--secondary);
    width: 210px;
    border-width: 1.5px;
    
  }
  .jobmodal h3, h4 {
    font-family: var(--caption);
    letter-spacing: 1px;
  }
  .jobmodal p {
    font-family: var(--input);
    text-align: justify;
  }
  .jobmodal .min-req {
    font-family: var(--input);
    font-size: 16px;
    
    letter-spacing: 1px;
  }
  .jobmodal span, label {
    font-family: var(--input);
  }
  .jobmodal input {
    width: 200px;
    
    font-family: var(--input);
    
  }
.close-button {
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    font-family: var(--button);
    background-color: var(--quinary);
    color: var(--tertiary);
    transition: all 0.1s ease-in-out;
    border: none;
    width: 130px;
    border-radius: 5px;
    color: var(--text);
  }
.close-button:hover {
    filter: brightness(150%);
}

.close-button:active {
    filter: brightness(90%);
}

.close-button i {
    display: inline-block;
    transform: translateX(-10px);
}

 
  .modalbtn-container {
    display:flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .no-job-found {
    height: 300px
  }
  .ftr-container {
    margin-top: 40px;
  }
  
  @keyframes buttonAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes modalFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }