.manage-account {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--button);
    margin-left: 40px;
    color: var(--quaternary);
    padding: 20px 0;
    
    
  }
  .manage-account h1 {
    display:flex;
    justify-content: flex-start;
    font-family: var(--button);
   
    color: var(--quaternary);
    
  }
  .data-row {
    width: 500px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 50px 0;
    display:flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;

  }
  
  .form-heading {
    font-family: var(--button);
    color: var(--quaternary);
    margin: 15px 0;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-contents {
    display: flex;
    flex-direction: column;
  }
  
  .field-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-label {
    font-family: var(--input);
    font-weight: 500;
    margin-right: 10px;
  }
  
  .button-collection {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .primary-btn,
  .secondary-btn {
    font-family: var(--button);
    padding: 8px 12px;
    outline: none;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    width: 130px;
    margin-right: 10px;
  }
  
  .primary-btn {
    background-color: var(--secondary);
    color: var(--text);
    border: none;
  }
  