.quantity-field {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 100px;
    min-width: 60px;
}

.quantity-field i {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    background: none;
    border: none;
    outline: none;
    color: #505050;
    font-size: 25px;
}

.quantity-field span {
    font-family: var(--button);
    font-weight: bold;
    opacity: 0.5;
}