.modal-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10s;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.9);
  }
  