.app-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    transition: all 0.2s ease-in-out;
}

.app-header.scrolled {
    background-color: var(--last);
}