@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Unica+One&display=swap');


/* 
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Unica One', cursive;
*/

:root {
  /* Fonts */
  --input: 'Quicksand', sans-serif;
  --title: 'Unica One', cursive;
  --button: 'Open Sans', sans-serif;
  --category: 'Manrope', sans-serif;
  --caption: 'Roboto Slab', serif;

  /* Colors */
  --primary: #541A2E;
  --secondary: #B51A2B;
  --tertiary: #FFA586;
  --quaternary: #384358;
  --quinary: #242F49;
  --last: #161E2F;
  --body: #131212;
  /* Text Default Colors */
  --text: rgb(238, 238, 238);
  --text-invert: #080808;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(84, 26, 46);
  background: linear-gradient(315deg, rgba(84, 26, 46, 1) 0%, rgba(181, 26, 43, 1) 16%, rgba(255, 165, 134, 1) 33%, rgba(56, 67, 88, 1) 53%, rgba(36, 47, 73, 1) 71%, rgba(22, 30, 47, 1) 87%, rgba(19, 18, 18, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body::after {
  width: 101%;
  height: 101%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/pengeako-862f8.appspot.com/o/Images%2Fbackgrounds%20or%20ads%2Fmangkok-kokak.jpg?alt=media&token=c2ee4a11-494b-49b0-8158-d6398656cb460);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  content: '';
  filter: blur(10px) opacity(50%) brightness(50%);
}