@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Titan+One&family=Unica+One&display=swap');

/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Titan One', cursive;
font-family: 'Unica One', cursive;
*/

:root {
  /* Fonts */
  --input: 'Quicksand', sans-serif;
  --title: 'Unica One', cursive;
  --button: 'Open Sans', sans-serif;
  --category: 'Manrope', sans-serif;
  --caption: 'Roboto Slab', serif;
  --price: 'Abril Fatface', cursive;
  --tag: 'Anton', sans-serif;
  --disc: 'Titan One', cursive;

  /* Colors */
  --body-invert: #f8f8f8;
  --primary: #541A2E;
  --secondary: #B51A2B;
  --tertiary: #FFA586;
  --quaternary: #384358;
  --quinary: #242F49;
  --last: #0c0c0c;
  --body: #f8f5f5;
  /* Text Default Colors */
  --text: rgb(238, 238, 238);
  --text-invert: #080808;
  --deep-dark: #070707;


  --success: #79b996;
  --information: #333;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-invert);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* body::after {
  width: 101%;
  height: 101%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/pengeako-862f8.appspot.com/o/Images%2Fbackgrounds%20or%20ads%2Fmangkok-kokak.jpg?alt=media&token=c2ee4a11-494b-49b0-8158-d6398656cb460);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -1;
  content: '';
  filter: blur(10px) opacity(50%) brightness(50%);
} */